body {
  font-family: "Avenir Next";
}

.header {
  height :90px;
  background-color: #f7f2b4
}

.main {
  height:600px;
  background-color: #bdf7f1
}

.footer {
  height:270px;
  background-color: #ceccf3
}
